.btn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  &__icon-wrap {
    width: 19px;
    height: 17px;
<<<<<<< Updated upstream:src/sass/_buttons.scss
    background-image: url(./images/svg/heart.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
//   &__icon {
//   }
  --orange {
=======
    background-image: url(../images/orangeheart.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
    &__icon {
      padding-top: 2px;
      fill: var(--white);
    }
  &--orange {
>>>>>>> Stashed changes:src/sass/components/_buttons.scss
    color: var(--white);
    background-color: var(--auxiliary-orange);
  }
  &--white {
    color: var(--grapefruit);
    background-color: var(--white);
    border: 1px solid var(--grapefruit);
  }
}
