<section class="cocktails">
  <div class="container">
    <h2 class="section__title">Cocktails</h2>
    <ul class="gallery">
      <li class="gallery__item">
        <img
            class="gallery__img"
            src="./images/Vampiro.jpg"
            alt="Negroni"
            width="280px"
            height="280px"
          />
          <h3 class="gallery__subtitle">Negroni</h3>
        <div class="gallery__btns">
          <button class="btn btn--orange" type="button">Learn more</button>
          <button class="btn btn--white" type="button">
            Add to &nbsp
            <span class="btn__icon-wrap">
              <svg class="btn__icon" width="15" height="15">
                <use href="./images/sprite.svg#heart"></use>
              </svg>
            </span>
          </button>
          <button class="btn btn--white visually-hidden" type="button">
            Remove &nbsp
            <span class="btn__icon-wrap"> </span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
