<section class="hero">
  <div class="hero__container container">
    <div>
      <h1 class="hero__title">A party without cocktails is not like a party</h1>
      <div class="hero__contant">
        <p class="hero__text">Search your favorite cocktail by ABC</p>
        <div class="hero__letter-box"></div>
      </div>
    </div>
    <div class="hero__overlay"></div>

    <div class="hero__select-box">
      <p class="hero__text">Search your favorite cocktail by ABC</p>
      <div class="hero__select-wrap">
        <div id="select"></div>
      </div>
    </div>
  </div>
</section>
