<div class="backdrop-ingredient is-hidden" data-modal-ingredient>
  <div class="backdrop-ingredient__wrap">
    <button
      data-modal-ingredient-closes
      class="modal-ingredient__closeModal"
      type="button"
    >
      <svg width="18" height="18" class="modal-ingredient__icon">
        <use href="./images/sprite.svg#cross"></use>
      </svg>
    </button>
    <section class="modal-ingredient" id="modal-ingredient">
      <!-- <div class="modal-ingredient__section">
        <h2 class="modal-ingredient__header">name</h2>

        <b class="modal-ingredient__title">type</b>
        <p class="modal-ingredient__text">description</p>
        <div class="ingredients">
          <ul data-modal-open class="ingredients__list">
            ingredientsDescription
          </ul>
        </div>
        <button class="modal-cocktails__button" type="button">
          Add to favorite
        </button>
      </div> -->
    </section>
  </div>
</div>
