@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  border-radius: 4px;
  cursor: pointer;
  @include media-min($tablet) {
    font-size: 20px;
    line-height: 1.2;
  }

  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 17px;
    background-image: url(../images/orangeheart.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__icon-wrap:hover,
  &__icon-wrap:focus {
    animation: flip-horizontal-bottom 0.4s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
  &__icon {
    fill: var(--white);
  }
  &--orange {
    padding: 8px 16px;
    min-width: 110px;
    color: var(--whiteBtn);
    background-color: var(--auxiliary-orange);
    transition: background-color 250ms var(--timing-function);
    @include media-min($tablet) {
      padding: 12px 27px;
      min-width: 160px;
    }
    @include media-min($desktop) {
      padding: 12px 38px;
      min-width: 182px;
    }
  }
  &--orange:hover,
  &--orange:focus {
    background-color: var(--grapefruit);
  }

  &--white {
    padding: 8px 16px;
    min-width: 110px;
    color: var(--auxiliary-orange);
    background-color: var(--white);
    border: 1px solid var(--auxiliary-orange);
    transition: color 250ms var(--timing-function);
    transition: border-color 250ms var(--timing-function);
    @include media-min($tablet) {
      padding: 12px 13px;
      min-width: 123px;
    }
    @include media-min($tablet) {
      padding: 12px 10px;
      min-width: 124px;
    }
    @include media-min($desktop) {
      padding: 12px 18px;
      min-width: 140px;
    }
  }
  &--white:hover,
  &--white:focus {
    color: var(--grapefruit);
    border-color: var(--grapefruit);
  }
  &--white:hover .btn__icon-wrap,
  &--white:focus .btn__icon-wrap {
    animation: flip-horizontal-bottom 0.5s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

// up-button styles
.go-up {
  rotate: -90deg;
  fill: var(--grapefruit);
  transition: fill var(--timing-function);
}

.go-up-btn {
  display: none;
  @include mobile {
    position: fixed;
    bottom: 40px;
    right: 40px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: var(--grapefruit) solid 2px;

    border-radius: 50%;
    background-color: var(--white);
    transition: all var(--timing-function);
  }
}

.go-up-btn:hover,
.go-up-btn:focus {
  background-color: var(--grapefruit);
  transform: scale(1.1);
}

.go-up-btn:hover .go-up,
.go-up-btn:focus .go-up {
  fill: var(--whiteBtn);

}
