.gallery {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;

  &__item {
    width: 280px;
    border: 1px solid var(--grapefruit);
    border-radius: 4px;
    @include media-min($tablet) {
      width: 335px;
    }
    @include media-min($desktop) {
      // width: 395px;
      width: calc((100% - 64px) / 3);
    }
  }
  &__img {
    margin-bottom: 48px;
    width: 100%;
    @include media-min($tablet) {
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    margin-bottom: 16px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    text-align: center;
    width: 100%;
    @include media-min($tablet) {
      font-size: 28px;
      line-height: 1.18;
      margin-bottom: 24px;
    }
    @include media-min($desktop) {
      font-size: 32px;
      margin-bottom: 28px;
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0 20px 20px;
    @include media-min($desktop) {
      padding: 0 28px 28px;
    }
  }
}

.ooops-img {
  margin: 0 auto;
  width: 280px;
  height: 308px;
  background-image: url('../images/ooops.png');
  background-repeat: no-repeat;
  background-size: contain;
  @include media-min($tablet) {
    width: 345px;
    height: 380px;
  }
}
