.hero {
  padding-top: 60px;
  @include media-min($tablet) {
    padding-topop: 77px;
  }
  @include media-min($desktop) {
    padding-top: 97px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include media-min($tablet) {
      // margin-bottom: 120px;
      flex-direction: row;
      gap: 32px;
    }
    @include media-min($desktop) {
      gap: 59px;
    }
  }

  &__overlay {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    padding: 0;
    height: 245px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/hero-bg-mob.png');
    background-image: url('../images/hero-bg-mob.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    @include retina {
      background-image: url('../images/hero-bg-mob-2x.png');
      background-image: url('../images/hero-bg-mob-2x.webp');
    }

    @include media-min($tablet) {
      margin-bottom: 0;
      height: 294px;
      min-width: 336px;
      width: 336px;
      background-image: url('../images/hero-bg-tab.png');
      background-image: url('../images/hero-bg-tab.webp');

      @include retina {
        background-image: url('../images/hero-bg-tab-2x.png');
        background-image: url('../images/hero-bg-tab-2x.webp');
      }
    }
    @include media-min($desktop) {
      width: 501px;
      min-width: 501px;
      height: 439px;
      background-image: url('../images/hero-bg-desc.png');
      background-image: url('../images/hero-bg-desc.webp');

      @include retina {
        background-image: url('../images/hero-bg-desc-2x.png');
        background-image: url('../images/hero-bg-desc-2x.webp');
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.9;
    color: var(--grapefruit);

    @include media-min($tablet) {
      font-size: 26px;
      line-height: 1.6;
      margin-bottom: 40px;
    }
    @include media-min($desktop) {
      font-size: 52px;
      line-height: 1.54;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: var(--black);
    opacity: 0.8;

    @include media-min($tablet) {
      margin-bottom: 40px;
    }
    @include media-min($desktop) {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  &__select-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-min($tablet) {
      display: none;
    }
  }

  &__select-wrap {
    width: 93px;
    height: 34px;
  }

  &__letter-box {
    display: none;
    @include media-min($tablet) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-min($desktop) {
      max-width: 522px;
    }
  }
}

.hero__letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray);
  cursor: pointer;
  transition: color 250ms var(--timing-function),
    transform 250ms var(--timing-function),
    text-shadow 250ms var(--timing-function);

  &:hover {
    color: var(--grapefruit);
    transform: scale(1.1);
    text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
  }

  @include media-min($desktop) {
    font-size: 24px;
    width: 40px;
    height: 40px;
  }

  &.active {
    color: var(--grapefruit);
    stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--gray);
    text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
    transform: scale(1.1);
  }
}
