.backdrop {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(94, 99, 99, 0.7);

  opacity: 1;
  padding-top: 60px;
  overflow-y: scroll;

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);

  &__wrap {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    max-height: 93vh;
    overflow-y: auto;

    @include tablet {
      min-width: 758px;
      padding: 0;
    }
    @include desktop {
      min-width: 822px;
    }
  }
}

.modal-cocktails {
  position: relative;
  background-color: var(--white);

  &__mobile-section {
    max-width: 320px;
    padding: 40px 20px;
    @include tablet {
      display: none;
    }
  }
  &__tablet-section {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 28px;
    }
  }

  &__cover-block {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }

  &__header {
    display: block;
    font-family: 'Roboto';
    position: relative;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.18;
    color: var(--black);
    margin-right: auto;
    @include tablet {
      margin-top: 12px;
    }
  }
  &__title {
    display: block;
    width: 122px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    color: var(--black);
    @include tablet {
      margin-top: 0;
    }
  }
  &__text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 20px;
    color: var(--gray);
    @include tablet {
      color: var(--modalgray);
      margin-top: 24px;
    }
  }
  &__image {
    width: 280px;
    height: 280px;
    display: block;
    margin-top: 32px;
    background-size: cover;
    border-radius: 4px;

    @include tablet {
      display: flex;
      justify-content: flex-start;
      min-width: 288px;
      min-height: 320px;
      border-radius: 0;
      margin: 0;
      position: relative;
      top: -28px;
      left: -28px;
    }
  }
  // *___________________________________Кнопка Add || Remove________________________________*
  &__button {
    font-family: 'Roboto';
    width: max-content;
    height: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-radius: 4px;
    border: none;
    background-color: var(--grapefruit);
    color: var(--whiteBtn);
    margin-top: 32px;
    padding: 12px 24px;
    cursor: pointer;
    transition: transform 250ms var(--timing-function),
      background-color 250ms var(--timing-function),
      color 250ms var(--timing-function);

    &:hover,
    &:focus {
      transform: scale(1.1);
      background-color: var(--auxiliary-orange);
      color: var(--white);
    }

    @include tablet {
      margin-top: 40px;
      margin-left: auto;
    }
  }
  // ___________________________________Кнопка Add || Remove закончилось________________________________
  // *___________________________ Кнопка Крестик закрытие модалки________________________*
  &__closeModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;

    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
    border: none;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @include tablet {
      right: 12px;
      top: 12px;
    }
  }

  &__icon {
    fill: var(--black);
  }
}
// ____________________________________/Тело модалки закончилось__________________________

.ingredients {
  // @media screen and (min-width: 768px) {

  // }
  &__subtitle {
    display: block;
    width: 103px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    list-style-type: none;
    color: var(--black);
  }
  &__subtext {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 8px;
    color: var(--black);
  }
  &__list {
    margin-top: 8px;
  }

  &__list span:hover,
  span:focus {
    transition: color 250ms var(--timing-function);
    color: var(--grapefruit);

    cursor: pointer;
  }
}
// .modal-cocktails__highlighted {
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 1.8;
//   color: var(--black);
// }

.ingredients__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: var(--gray);
  cursor: pointer;
  @include tablet {
    color: var(--modalgray);
  }

  span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--gray);
    cursor: pointer;
  }

  span::before {
    content: '\2736 \0020 \0020';
    margin-right: 2px;
  }

  &:hover {
    span {
      color: var(--grapefruit);
      transform: scale(1.1);
      text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
    }
    span::before {
      content: '\2736 \0020 \0020';
      color: var(--grapefruit);
    }
  }
}
.ingredients__subtitle {
  display: block;
  width: 103px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 22px;
  list-style-type: none;
  color: var(--black);
}
