.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* .ingridients {

} */
.modal-open {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  z-index: 40;

  background: rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
  transition: opacity 250ms time-distribution,
    visibility 250ms time-distribution;
}
.ingridients {
  z-index: 50;
}
.modal-coctails__body {
  max-width: 320px;
  background-color: #fff;
  position: relative;
  padding: 40px 20px;
}
.modal-coctails__header {
  display: block;
  font-family: 'Roboto';
  position: relative;
  width: 129px;
  height: 37px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.18;
  color: #202025;
  margin-top: 40px;
  margin-right: auto;
}
.modal-coctails__title {
  display: block;
  width: 122px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  color: #202025;
}
.modal-coctails__text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 20px;
  color: #5f6775;
}
.modal-coctails__image {
  width: 280px;
  height: 280px;
  display: block;
  margin-top: 32px;
}
.ingridients__list {
  display: block;
  width: 103px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  list-style-type: none;
  color: #000917;
}
.modal-coctails__closeModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 32px;
  height: 32px;
  right: 16px;
  top: 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.modal-ingridients__body {
  position: absolute;
  padding: 40px;
}

.modal-ingridients__closeModa {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-ingridients__header {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
