.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-open {
  overflow: hidden;
}
.backdrop {
  position: relative;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  z-index: 40;

  background: rgb(248, 246, 246, 0.7);
  overflow-y: scroll;
  transition: opacity 250ms time-distribution,
    visibility 250ms time-distribution;
}

.modal-coctails {
  max-width: 320px;
  background-color: #fff;
  position: relative;
  padding: 40px 20px;
  &__header {
    display: block;
    font-family: 'Roboto';
    position: relative;
    width: 129px;
    height: 37px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.18;
    color: var(--black);
    margin-top: 40px;
    margin-right: auto;
  }
  &__title {
    display: block;
    width: 122px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    color: var(--black);
  }
  &__text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 20px;
    color: var(--gray);
  }
  &__image {
    width: 280px;
    height: 280px;
    display: block;
    margin-top: 32px;
  }
  &__add {
    font-family: 'Roboto';
    width: max-content;
    height: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: var(--grapefruit);
    color: var(--white);
    margin-top: 32px;
    padding: 12px, 24px;
    &:hover,
    &:focus {
      background-color: #f5f5f5;
      color: var(--grapefruit);
    }
  }
  &__closeModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
}
.ingridients {
  &__subtitle {
    display: block;
    width: 103px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    list-style-type: none;
    color: #000917;
  }
  &__subtext {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 8px;
    color: var(--black);
  }
  &__list {
    margin-top: 8px;
  }
  &__item span::before {
    content: '\2736 \0020 \0020';
  }
}
