.wrap {
  width: 200px;
}

.select {
  width: 100%;
  position: relative;
  z-index: 100;
  transition: background-color 150ms var(--timing-function),
    color 150ms var(--timing-function);

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      //   border-bottom: none;
    }
    .select__backdrop {
      display: block;
    }
  }

  &.selected {
    .select__input {
      background-color: var(--grapefruit);
      color: var(--white);
      transition: background-color 150ms var(--timing-function),
        color 150ms var(--timing-function);
    }

    .select__arrow-down {
      fill: var(--white);
    }
  }

  &__input {
    border: 1px solid var(--grapefruit);
    border-radius: 4px;
    height: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 5px 6px 10px;

    cursor: pointer;
    color: var(--grapefruit);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.35;
  }
  &__dropdown {
    display: none;
    position: absolute;
    border: 1px solid var(--grapefruit);
    background-color: var(--white);
    border-radius: 4px;
    top: 34px;
    left: 0;
    right: 0;
    max-height: 84px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(var(--black), 0.3);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
  }

  &__item {
    padding: 6.5px 5px 6.5px 10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
    color: var(--gray);
    // border-bottom: 1px solid var(--gray);

    &.selected {
      color: var(--grapefruit);
    }

    &:hover {
      background-color: rgba(var(--grapefruit), 0.3);
      cursor: pointer;
      transition: background-color 150ms var(--timing-function);
    }
  }

  &__arrow-down {
    width: 24px;
    height: 24px;
    fill: var(--grapefruit);
  }

  &__arrow-up {
    width: 24px;
    height: 24px;
    fill: var(--grapefruit);
    transform: rotate(180deg);
  }
}
