//.menu-container {
//  position: relative;
//}
body {
  position: relative;
}

.mob-menu {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  //border-radius: 30px 0 30px 30px;
  //box-shadow: 0 4px 24px rgba(105, 105, 105, 0.1);
  overflow: hidden;
  background: var(--white);

  //transition: all $hover-focus-decor-func;
  //transform: translate(0) scale (1);
  z-index: 1;

  &.is-hidden {
    //z-index: -1;
    transform: translate(50%, -60%);
    scale: 0;
    opacity: 0;
  }
}

.mob-menu-form {

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.mob-menu-form input {
  margin-top: 91px;
  padding: 8px;
  border: 1px solid #FD5103;
  border-radius: 4px;
  width: 280px;
  //height: 40px;
}

.mob-menu-nav__item {
  //transition: background-color $hover-focus-decor-func;

  &:active {
    background-color: var(--grapefruit);
  }
}

.mob-menu-nav__link {
  padding: 16px 0;
  display: block;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
}

.mob-menu__btn {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
