.nav {
  display: none;

  @include desktop {
    display: flex;
    margin-right: 330px;
    align-items: center;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }

  &__list {
    display: inherit;
    gap: 60px;
  }
}

.nav__link {
  cursor: pointer;
  line-height: 1.14;
  color: var(--black);
  //transition: color $hover-focus-decor-func;

  &--current,
  &:hover,
  &:focus {
    color: var(--grapefruit);
  }
}
